
<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
                <h1>Welcome back</h1>
        </div>  
    </div>      
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
                <h1>Our Passion is Post ...</h1>
                <h3>21st Century Mailroom and Postal Solutions</h3>
        </div>
    </div>



    <!-- End -->


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>The way post works has changed over the past decade:</h2>
                <p>ZipMail helps businesses adapt to that change through integrated technology and a range of options designed to drive down the cost of postal services for UK wide companies. </p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>Mailroom Services</h3>
                <p>Let ZipMail staff come on-site and process your mail. </p>
                <p>With the reduction in business mail, are full-time mailroom staff being fully utilized?</p>
                <p>Our teams come in at the times of day you need them to process the post.</p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
             <div class="col-md-4">
                <h3>Facilitation Services</h3>
                <p>Do you have Administrative Staff in other roles who you'd like to train to do the post at the beginning and end of the day?</p> 
                <p>ZipMail can show your staff how to process post through our price streamlining along with supporting associated stationary requirements.  </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
             <div class="col-md-4">
                <h3>Collection Services</h3>
                <p>Not processing post every day?</p>
                <p>ZipMail will pick-up your post when you need us, then sort it off-site for streamline pricing. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
          </div>
    </div>

    <!-- About Us -->
    <div class="container"> 
        <a id = "about_us"> </a>
        <div class="row">
            <div class="col-md-9">
                <h2>About us</h2>
            	
            	<p>Based in the City of London, the origins of ZipMail can be traced back through its Founder and CEO Michael Tickner to 1-2-3 Express Services which has been handling mail for businesses in the U.K. for over 40 years</p> 
            </div>

            <div class="col-md-3">
        		<%= link_to image_tag("ZM Logo (colour).jpg", class:"logo"), "http://www.postcom.org", :target => "_blank"%>
        	</div>


            <div class="col-md-1">
            </div>
            <div class="col-md-7">
            	<blockquote>"Companies can only ever win with ZipMail.  We bring you mailroom staffing, stationary and postage costs down without compromising on the standard of service."</blockquote>
            	<cite class="cite">CEO Michael Tickner</cite>
            </div>
            <div class="col-md-4">
            </div>  

        </div>

        <div class="row">
            <div class="col-md-9">
              
              	<p></p>
            
            	<p>ZipMail Ltd was one of the first companies to be granted a license for postal services by the U.K. regulator Ofcom after the industry was de ... in ....</p>
            	
        	</div>

        	<div class="col-md-3">
        		<%= link_to image_tag("ofcom.png", class:"ofcom"), "http://www.postcom.org", :target => "_blank"%>
        	
        	</div>
        </div>
    </div>
    <!--  -->

    <!-- Testimonials -->

    <div class="container"> 
        <a id = "testimonials"> </a>
        <div class="row">
            <div class="col-md-12">
                <h2>Testimonials</h2>
            </div>
        </div>
        <div class="row testimonial_image text-center">
            <div class="col-md-5">
                <%= link_to image_tag("camdenlogo.jpg", class:"camden"), "https://www.camden.gov.uk", :target => "_blank"%>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <%= link_to image_tag("dyno.jpg", class:"dyno"), "https://www.centrica.com/about-us/our-brands/dyno", :target => "_blank"%>
            </div>
        </div>

        <div class="row testimonial_quote">
            <div class="col-md-5">
                <p>"We have been using your service since July 2005 to carry out mailing of our consultation letters. <br/>We have found your staff very helpful and responsive to our needs. <br/>As you are a recognised supplier to local government, I would be pleased to recommend you to anyone in the public sector who is seeking a cost effective solution to their mailing requirements."</p>
                
            </div>
             <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <p>"I, Gary Revell manager of M. B. Tech Solutions Ltd confirm that we have been using Zip Mail from the past few months. We have found their service to be excellent, prompt and sincere. <br/>We would definitely recommend Zip Mail as a conscientious company to all other businesses. I'm happy to provide further information if required."</p>
            </div>
        </div>

        <div class="row testimonial_cite">
            <div class="col-md-5">
                <cite>Vien Lieu <br/>Licensing Project Officer <br/>Camden Council</cite>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <cite>Gary Revell <br/>General Manager <br/>CMB Tech Solutions Ltd - Dyno-Rod business</cite>
            </div>
        </div>

        <div class="row testimonial_image text-center">
            <div class="col-md-5">
                <%= link_to image_tag("south_london.jpg", class:"south_london")%>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <%= link_to image_tag("statravellogo.jpg", class:"statravellogo"), "https://http://www.statravel.co.uk/", :target => "_blank"%>
            </div>
        </div>

        <div class="row testimonial_quote">
            <div class="col-md-5">
                <p>"I am writing to place on record the highly satisfactory performance of your organisation, Zip Mail, in delivering mail on behalf of South London Business. We have found that your performance has been helpful and extremely cost effective. In our first month, you delivered over 10,000 letters, and have had no problems with delivery. <br/>I am happy to recommend Zip Mail to any other South London companies looking for an alternative to Royal Mail."</p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <p>"As the world's leading specialist in travel for students and young people, STA Travel require a mailing service which is flexible and responsive to our needs. <br/>We now use your Zip Mail service every time we have a new promotion to circulate to the media and universities throughout the UK. We find your staff very helpful and your pricing excellent value for money"</p>
            </div>
        </div>

        <div class="row testimonial_cite">
            <div class="col-md-5">
                 <cite>Ross Feeney <br/>Policy & Communication Manager <br/>South London Business</cite>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                 <cite>Joanna Merredew <br/>PR and Sponsorship Manager <br/>STA Travel</cite>
            </div>
        </div>
    </div>

    <!-- Contact Us -->

     <div class="container"> 
        <a id = "contact"> </a>
<% end %> 

    